<div id="header">
<header>
    <div class="main">
        <div class="wrapper">
            <div class="text_header">
                <h3><i>Restaurant Oud Leusden, gewoon gastvrij genieten</i></h3>
                <h4><i>Uw diner, feest of vergadering tot in de puntjes verzorgd!</i></h4>
            </div>
            <img class="foto_wifi" src="foto/wifi.png">
            <img class="foto_logo" src="foto/logo.png">
        </div>
    </div>

    <div class="nav">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="restaurant.html">Restaurant</a></li>
                <li><a href="reservering.html">Reservering</a></li>
                <li><a href="gastenboek.html">Gastenboek</a></li>
                <li><a href="contact.html">Contact & Route</a></li>
                <li><a href="vacature.html">Vacature</a></li>
            </ul>
        </nav>
    </div>
</header>
</div>