﻿body {
    margin: 0px 0px 0px 0px;
}

header {
    float:left;
    width:100%;
    height: 165px;
    background-color: grey;
}

.maincontent {
    float:left;
    width:100%;
}

.boxcontent{
  width: 40%;
  margin-left: 100px;
  
}

footer {
    float: left;
    width:100%;
    color: black;
    text-align: center;
     margin-top: 0px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

.main {
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    padding: 1px 8px 2px 1px;
    margin-bottom: 150px;

}

.wrapper {
    width: 100%;
}

.text_header {
    background-color: #558971;
    height: 90px;
    width: 30%;
    color: white;
    text-align: center;
    margin-left: 3%;
    
}

.foto_wifi {
    width: 300px;
    margin-top: -9%;
    margin-left: 60%;
    padding-right: 100px;
}

.foto_logo {
    margin-left: 1%;
    height: 110px;
    width: 165px;
    margin-top: -7%;
    float: right;
}

.reservering {
    width: 100%;
    height: 100px;
    color: black;
    text-align: center;
}

.formulier {
    width: 100%;
}
.nav {
    float: left;   
    width: 100%;
    margin-top: -205px;
    border-bottom: 1px solid black;

}
.vacature{
}

nav ul {
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 55px;
    margin-right: 55px;
    padding-top: -35px;
    position: relative;
}
.nav_active {
    content: '';
    display: block;
    height: 5px;
	background-color: #7bc8a5;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #558971;
}

nav a::after {
    content: '';
    display: block;
    height: 5px;
    background-color: #7bc8a5;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover {
    color: #558971;
}

nav a:hover::after {
    width: 100%;
}

nav a::after hover {
    color: #7bc8a5;
}

.innerGast{
    text-align: center;
    margin-left: 15px;
}
form {
    width: 100%;
    margin: 0;
    text-align: center;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

fieldset {
    border: solid 2px black;
    width: 70%;
    margin: auto;
    border-radius: 2%;
    color: black;

}

input, select, textarea {
    border: solid 1px rgb(0, 0, 0);
    margin: 5px;
    padding: 5px 30px 5px 50px;
    width: 50%;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
}

input[type=date] {
    width: 25%;
}

input[type=checkbox],
input[type=radio] {
    width: 4%;
}

input[type=submit]:hover {
    opacity: 1;
    transition: opacity 0.5s linear;
}

input[type=submit] {
    background-color: #bada55;
    width: 23%;
    opacity: 0.6;
}

input[type=reset] {
    background-color:  orangered;
    width: 23%;
    opacity: 0.6;
}


.twitter_foto {
    margin-top: -15px;
    height: 45px;
    width: 45px;
}

.Facebook_foto {
    margin-top: -15px;
    height: 50px;
}


#map {
    width: 40%;
    height: 400px;
    background-color: grey;
    float: right;
    margin-top: 20px;
    margin-right: 70px;

}

.text_contact {
    margin-left: 100px;
    float: left;
    margin-top: -400px;
}

.recensie {
    text-align: center;
}

.slider {
  float: right;
    width: 55%;
    margin-top: -325px;
    margin-right: -150px;
}

/* index */

.index {
    width: 40%;
    margin-top: 40px;
    margin-left: 8%;
    text-align: justify;
    float: left;
}


/* GALLERIJ SLIDESLOW */

* {box-sizing:border-box}

.slideshow-container {

  float: left;
}

.slideshow-restaurant {
  margin-left: 700px;
  margin-top: -250px;
  float: left;
}


.dots {
  margin-left: 700px;
  margin-top: -25px;
  float: left;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 4%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.container {
    width: 100%;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 12px;
  width: 12px;
  margin: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



#kokfoto{
	float: left;
	width: 450px;
	height: 350px;
	margin-left: 1150px;
	margin-top: -420px;
}



